@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'reset';
@import 'variable';

.container {
  margin: 0 auto;
  max-width: 1200px;
  @include pad {
    max-width: 690px;
  }
  @include small {
    max-width: 345px;
  }
}
.wrap {
  background-color: $red;
  color: $white;
}
a {
  color: $white;
}
a:hover {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include pad {
      margin-left: 39px;
    }
    @include mobile {
      margin-left: 0;
    }
    a {
      display: block;
    }
  }
}
.menu {
  width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  @include pad {
    margin-right: 39px;
  }
  @include mobile {
    margin-right: 0px;
  }
  @include small {
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    @include small {
      border: 1px solid #ffffff;
      padding: 8px 54px;
    }
    a {
      display: block;
      color: white;
      @include small {
        width: 80px;
      }
      &:hover {
        color: gray;
      }
      img {
        @include small {
          width: 48px;
          height: 29.5px;
        }
      }
    }
  }
}

.banner {
  background: url($lg-banner) no-repeat;
  height: 304px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include pad {
    background: url($md-banner);
    background-position: 30% 30%;
    background-size: 150%;
  }
  @include small {
    height: 143px;
    background-position: 10% 30%;
  }
  .banner-title {
    display: flex;
    align-items: flex-end;
    height: 100%;
    div {
      display: flex;
    }
    h2 {
      font-size: 64px;
      line-height: 80px;
      font-weight: bold;
      @include pad {
        font-size: 48px;
      }
      @include small {
        font-size: 28px;
        line-height: 40px;
      }
    }
    img {
      margin-left: 24px;
      @include pad {
        transform: scale(0.8);
        margin-left: 16px;
      }
      @include small {
        transform: scale(0.5);
        margin-left: 0;
      }
    }
  }
}

.areaSelect {
  margin-top: 16px;
  margin-bottom: 32px;
  label {
    font-size: 24px;
    line-height: 30px;
    margin-right: 20px;
    @include pad {
      font-size: 16px;
    }
    @include small {
      font-size: 14px;
      margin-right: 12px;
    }
  }
  select {
    font-size: 18px;
    line-height: 24px;
    width: 324px;
    color: #495057;
    opacity: 0.75;
    padding: 10px 0 10px 18px;
    @include pad {
      font-size: 16px;
      width: 273px;
    }
    @include small {
      font-size: 14px;
      width: 260px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #212529;
  li {
    width: 350px;
    margin-bottom: 32px;
    @include pad {
      width: 330px;
    }
    .info {
      padding: 16px 24px;
      border: 1px solid #00000020;
      @include pad {
        padding: 16px;
      }
      li {
        width: 100%;
        display: flex;
        margin-bottom: 8px;
        @include pad {
          margin: 8px;
        }
        p {
          font-size: 20px;
          line-height: 30px;
          @include pad {
            font-size: 14px;
            line-height: 21px;
          }
        }
        img {
          width: 21px;
          height: 21px;
          margin-top: 5px;
          margin-right: 12px;
          @include pad {
            width: 20px;
            height: 20px;
            margin-top: 0;
          }
        }
      }
    }
    button {
      background: #000;
      color: #fff;
      font-size: 19px;
      width: 100%;
      padding: 20px;
      cursor: pointer;
      @include pad {
        font-size: 14px;
        padding: 16px;
      }
    }
    h3 {
      font-size: 24px;
      line-height: 36px;
      border: 1px solid #00000020;
      padding: 12px 24px;
      @include pad {
        font-size: 16px;
        line-height: 24px;
        padding: 8px 202px 8px 8x;
      }
    }
    img {
      display: block;
      width: 350px;
      height: 224px;
      @include pad {
        width: 330px;
        height: 164px;
      }
    }
  }
}

.footer {
  padding: 40px;
  @include small {
    padding: 9px;
    position: relative;
  }
  .footer-title {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    .menu {
      @include small {
        display: none;
      }
    }
    .icons {
      display: flex;
      @include small {
        position: absolute;
        right: 0;
        top: 35px;
      }
      li {
        margin-left: 32px;
        @include pad {
          margin-left: 0;
        }
        img {
          max-width: 100%;
          @include pad {
            max-width: 50%;
          }
        }
      }
    }
  }
  .contact-info {
    padding-bottom: 22px;
    border-bottom: 1px solid #fff;
    @include pad {
      margin-top: 24px;
    }
    li {
      a {
        font-size: 36px;
        line-height: 54px;
        margin-left: 20px;
        @include pad {
          font-size: 20px;
          line-height: 30px;
          margin-left: 15px;
        }
        @include small {
          font-size: 16px;
          margin-left: 7px;
        }
      }
      img {
        width: 100%;
        max-width: 36px;
        vertical-align: middle;
        @include pad {
          width: 18px;
        }
      }
    }
  }
  .footer-buttom {
    display: flex;
    justify-content: space-between;
    @include small {
      flex-direction: column;
    }
    .copyright {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include small {
        justify-content: start;
      }
      img {
        margin-right: 38px;
        @include pad {
          display: none;
        }
        @include small {
          display: block;
          position: absolute;
          width: 46px;
          right: 9px;
          bottom: 10px;
        }
      }
      p {
        @include small {
          font-size: 14px;
        }
      }
    }
    .terms {
      display: flex;
      margin-top: 40px;
      @include small {
        flex-direction: column;
        margin: 0;
      }
      li {
        padding-left: 62px;
        @include small {
          margin: 8px 0;
          padding-left: 0;
        }
      }
    }
  }
}
